#okienko {
    background-color: black;
    border-width: 4px;
    border-color: #BBB;
    border-style: ridge;
    height: 600px;
    box-shadow: 3px 3px 10px #bbb;
    color: green;
	width: 75%;
	float:right;
	padding: 30px;
	box-sizing: border-box;
}

#player-hp {
    width: 20%;
    height: 50px;
    color: red;
    float: left;
	font-size:1.2em;
	font-weight: 700;
}

#attack {
	margin-left: 25%;
	float: left;
}

#defend {
<<<<<<< HEAD
    display: block;
    margin-left: 100px;
    margin-top: -32%;
    height: auto;
=======
	float: right;
}
#attack, #defend {
	margin-top: 20px;
	width: 100px;
	cursor:pointer;
>>>>>>> 783b7a518dc998ba08f86846aa24cafbce026f0c
}
#health {
    margin-left: 1000px;
    height: 25px;
    width: 350px;
}